
@{
    ViewBag.Title = "GridDemo2";
}

<h2>GridDemo2</h2>

<div class="container">
    <div class="row h6">
        <div class="col-md-3">1</div>
        <div class="col-md-9">2</div>
    </div>
    <div class="row h2">
        <div class="col-md-12">H2</div>
    </div>
    <div class="row h6">
        <div class="col-md-2">3</div>
        <div class="col-md-2">4</div>
        <div class="col-md-2">5</div>
        <div class="col-md-2">6</div>
        <div class="col-md-2">7</div>
        <div class="col-md-2">8</div>
    </div>
    <div class="row h3">
        <div class="col-md-12">H3</div>
    </div>
    <div class="row h6">
        <div class="col-md-1">9</div>
        <div class="col-md-1">10</div>
        <div class="col-md-1">11</div>
        <div class="col-md-1">12</div>
        <div class="col-md-1">13</div>
        <div class="col-md-1">14</div>
        <div class="col-md-1">15</div>
        <div class="col-md-1">16</div>
        <div class="col-md-1">17</div>
        <div class="col-md-1">18</div>
        <div class="col-md-1">19</div>
        <div class="col-md-1">20</div>
    </div>
    <div class="row h4">
        <div class="col-md-3">H4</div>
        <div class="col-md-3">H4</div>
        <div class="col-md-6">H4</div>
    </div>
    <div class="row h6">
        <div class="col-md-3">21</div>
        <div class="col-md-3">22</div>
        <div class="col-md-6">23</div>
    </div>
</div>

