@{
    ViewBag.Title = "Home Page";
}

<!DOCTYPE html>
<html lang="en">

<body>

    <!-- Static navbar -->
    <div class="navbar navbar-inverse navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">Anmol's Portfolio</a>
            </div>
            <div class="navbar-collapse collapse">
            </div>
            <!--/.nav-collapse -->
        </div>
    </div>

    <!-- +++++ Welcome Section +++++ -->
    <div id="ww">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 centered">
                    <img src="~/images/anmol.png" alt="Stanley">
                    <h1>Anmol Dhillon</h1>
                    <p>BACK END DEVELOPER</p>
                    
                    <a href="~/Resume/ASDX.pdf" target="_blank"> <button type="submit" class="btn btn-large">My Resume</button></a>
                </div>
                <!-- /col-lg-8 -->
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /ww -->
    <!-- +++++ Projects Section +++++ -->

    <div class="container pt">
        

        <div class="row mt centered">
            <h3>MY WORKS</h3>
            <div class="col-lg-4">
                <a href="work01.html" data-toggle="modal" data-target="#myModal"><img class="img-responsive" src="~/images/port01.jpg" alt="" /></a>
                <p>JAVASCRIPT EXERCISES</p>
            </div>
            <div class="col-lg-4">
                <img class="img-responsive" src="~/images/futuregrind.jpg" alt="" /></a>
                <p>EMPTY PLACEHOLDER</p>
            </div>
            <div class="col-lg-4">
                <img class="img-responsive" src="~/images/futuregrind.jpg" alt="" /></a>
                <p>EMPTY PLACEHOLDER</p>
            </div>
        </div>
        <!-- /row -->
        <div class="row mt centered">
            <div class="col-lg-4">
                <img class="img-responsive" src="~/images/futuregrind.jpg" alt="" /></a>
                <p>EMPTY PLACEHOLDER</p>
            </div>
            <div class="col-lg-4">
                <img class="img-responsive" src="~/images/futuregrind.jpg" alt="" /></a>
                <p>EMPTY PLACEHOLDER</p>
            </div>
            <div class="col-lg-4">
                <img class="img-responsive" src="~/images/futuregrind.jpg" alt="" /></a>
                <p>EMPTY PLACEHOLDER</p>
            </div>
        </div>
        <!-- /row -->
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Modal Header</h4>
                    </div>
                    <div class="modal-body">
                        <h2>Dynamic Tabs</h2>
                        <ul class="nav nav-tabs">
                            <li class="active"><a data-toggle="tab" href="#Math">Math</a></li>
                            <li><a data-toggle="tab" href="#Fizzbuzz">FizzBuzz</a></li>
                            <li><a data-toggle="tab" href="#Factorial">Factorial</a></li>
                            <li><a data-toggle="tab" href="#Palindrome">Palindrome</a></li>
                        </ul>

                        <div class="tab-content">
                            <div id="Math" class="tab-pane fade in active">
                                <h3>Math</h3>
                                <p>Some Math Content</p>
                                <div class="row">
                                    <div class="col-md-12">Please Enter 5 numbers</div>
                                </div>
                                <div class="row">
                                    <div class="col-md-7">
                                        <div class="row">
                                            <div class="col-md-6">Enter Number 1:</div>
                                            <div class="col-md-6"></div>
                                            <input id="num1" type="number" name="name" value="" />
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">Enter Number 2:</div>
                                            <div class="col-md-6"></div>
                                            <input id="num2" type="number" name="name" value="" />
                                        </div><div class="row">
                                            <div class="col-md-6">Enter Number 3:</div>
                                            <div class="col-md-6"></div>
                                            <input id="num3" type="number" name="name" value="" />
                                        </div><div class="row">
                                            <div class="col-md-6">Enter Number 4:</div>
                                            <div class="col-md-6"></div>
                                            <input id="num4" type="number" name="name" value="" />
                                        </div><div class="row">
                                            <div class="col-md-6">Enter Number 5:</div>
                                            <div class="col-md-6"></div>
                                            <input id="num5" type="number" name="name" value="" />
                                        </div>
                                        <button id="btn">Calculate</button>
                                    </div>
                                    <div class="col-md-5">
                                        <div id="sum"></div>
                                        <div id="product"></div>
                                        <div id="average"></div>
                                        <div id="largest"></div>
                                        <div id="smallest"></div>
                                    </div>

                                </div>
                            </div>
                            <div id="Fizzbuzz" class="tab-pane fade">
                                <h3>FizzBuzz</h3>
                                <div class="row">
                                    <div class="col-md-7">
                                        <div class="row">
                                            <div class="col-md-6"> Please enter num1</div>
                                            <div class="col-md-6"><input id="number1" type="number" name="name" value="" /></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">  Please enter num2 </div>
                                            <div class="col-md-6">
                                                <input id="number2" type="number" name="name" value="" />
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <button id="btn1"> Calculate</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <div id="fizzbuzz"></div>
                                    </div>
                                </div>
                            </div>

                            <div id="Factorial" class="tab-pane fade">
                                <h3>Factorial</h3>
                                <div class="row">
                                    <div class="col-md-7">
                                        <div class="row">
                                            <div class="col-md-6">Please enter a number</div>
                                            <div class="col-md-6">
                                                <input id="num" type="number" name="name" value="" />
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <button id="btnfact">Calculate</button>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-5">
                                        <div id="factorial"></div>
                                    </div>
                                </div>
                            </div>
                            <div id="Palindrome" class="tab-pane fade">
                                <h3>Palindrome</h3>
                                <div class="row">
                                    <div class="col-md-7">
                                        <div class="row">
                                            <div class="col-md-6">Please enter a word</div>
                                            <div class="col-md-6">
                                                <input id="sometext" type="text" name="name" value="" />
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <button id="btn3">Check it</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <div id="palindrome"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>



        <!-- /container -->
        <!-- +++++ Footer Section +++++ -->

        <div id="footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <h4>My Bunker</h4>
                        <p>
                            1748 Jefferson Avenue,<br /> +1 204-952-7111, <br /> Winnipeg, Manitoba.
                        </p>
                    </div>
                    <!-- /col-lg-4 -->

                    <div class="col-lg-4">
                        <h4>My Links</h4>
                        <p>
                            <a href="https://github.com/theanmoldhillon">Github</a><br />
                            <a href="https://www.linkedin.com/in/anmol-singh-93313216a/">LinkedIn</a><br />
                        </p>
                    </div>
                    <!-- /col-lg-4 -->

                    <div class="col-lg-4">
                        <h4>About Me</h4>
                        <p>I am a Backend Developer.</p>
                    </div>
                    <!-- /col-lg-4 -->
                </div>
            </div>
        </div>

        <div class="container pt">
            <div class="row mt">
                <div class="col-lg-6 col-lg-offset-3 centered">
                    <h3>CONTACT ME</h3>
                    <hr>
                </div>
            </div>
            <div class="row mt">
                <div class="col-lg-8 col-lg-offset-2">
                    <form class="contact-form php-mail-form" role="form" action="contactform/contactform.php" method="POST">

                        <div class="form-group">
                            <input type="name" name="name" class="form-control" id="contact-name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars">
                            <div class="validate"></div>
                        </div>
                        <div class="form-group">
                            <input type="email" name="email" class="form-control" id="contact-email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email">
                            <div class="validate"></div>
                        </div>
                        <div class="form-group">
                            <input type="text" name="subject" class="form-control" id="contact-subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject">
                            <div class="validate"></div>
                        </div>

                        <div class="form-group">
                            <textarea class="form-control" name="message" id="contact-message" placeholder="Your Message" rows="5" data-rule="required" data-msg="Please write something for us"></textarea>
                            <div class="validate"></div>
                        </div>

                        <div class="loading"><img src="lib/php-mail-form/loading.gif"></div>
                        <div class="error-message"></div>
                        <div class="sent-message">Your message has been sent. Thank you!</div>

                        <div class="form-send">
                            <button type="submit" class="btn btn-large">Send Message</button>
                        </div>

                    </form>
                </div>
            </div>



            <div id="copyrights">
                <div class="container">
                    <p>
                        &copy; Copyrights <strong>Stanley</strong>. All Rights Reserved
                    </p>
                    <div class="credits">
                        <!--
                      You are NOT allowed to delete the credit link to TemplateMag with free version.
                      You can delete the credit link only if you bought the pro version.
                      Buy the pro version with working PHP/AJAX contact form: https://templatemag.com/stanley-bootstrap-freelancer-template/
                      Licensing information: https://templatemag.com/license/
                    -->
                        Created with Stanley template by <a href="https://templatemag.com/">TemplateMag</a>
                    </div>
                </div>
            </div>
            <!-- / copyrights -->
            <!-- JavaScript Libraries -->
            <script src="~/Scripts/jquery.min.js"></script>
            <script src="~/Scripts/bootstrap.min.js"></script>
            <script src="~/Scripts/validate.js"></script>
            <script src="~/Scripts/easing.min.js"></script>
            <script src="~/Scripts/maths.js"></script>

            <!-- Template Main Javascript File -->
            <script src="~/Scripts/main.js"></script>

</body>
</html>
